@charset "UTF-8";

body {
  margin: 0;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  line-height: 1.5;
}

.header_camera{
  display: flex;
  margin: auto;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #979d9e;
  background: #fff;
  z-index: 1000;
  align-items: center;
}

.page_title{
  flex: 1;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.header_camera img{
  position: absolute;
  height: 34px;
  top: 14px;
  bottom: 0;
  right: 32px;
}

.camera_body{
  display: flex;
  padding: 64px 10% 36px;
}

.camera_body_box_l{
  margin: 0 5%;
  width: 45%
}
.camera_body_box_r{
  margin: 0 4%;
  width: 30%
}
@media screen and (max-width: 768px) {
  .camera_body{
    display: block;
  }
  .camera_body_box_l{
    margin: 0;
    width: 100%
  }
  .camera_body_box_r{
    margin: 16px 0;
    width: 100%;
    font-size: 14px;
  }
}

.camera_body_box_l video{
  width: 100%;
  border: 1px solid gray;
  transform: scaleX(-1);
}

.camera_body_box_r select,
.camera_body_box_r input{
  margin: 4px 0 20px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #babdbe;
  border-radius: 5px;
  background: #eeeeee;
  font-size: 14px;
  padding: 8px 10px;    line-height: 22px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center right 10px;
}

.shutter_button button,
.upload_button button{
  padding: 12px 20px;
  width: 100%;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  border-radius: 40px;
  border: none;
}
.shutter_button button{
  background-image: linear-gradient(to right, #ffcb00, #ffb400);
  margin-bottom: 8px;
}

.shutter_button.success button{
  background-image: none;
  background-color: #767676;
  margin-bottom: 8px;
}

.shutter_button button:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 1px 8px 0 0;
  background: url("../img/camera.svg") no-repeat;
  background-size: contain;
  vertical-align: middle;
}
.upload_button button{
  background-color: #767676;
}

.upload_button.success button{
  background-image: linear-gradient(to right, #ffcb00, #ffb400);
}

.upload_button button:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 1px 8px 0 0;
  background: url("../img/upload.svg") no-repeat;
  background-size: contain;
  vertical-align: middle;
}
#uploadOK{
  text-align: center;
  margin: 10px 0;
  font-weight: bold;
}

.camera_body_box_r button img{
  transform: translate(0px, 5px);
  margin-right: 12px;
  height: 22px;
}
.camera_body_box_r:last-child{
  position: relative;
}


/* 取り直しボタンの用のcss */
.shutter_button-re button{
  color: #babdbe;
  background: #eeeeee;
}

#sample.success {
  display: none;
}